<!DOCTYPE html>
<head>
<base href="http://www.dailynebraskan.com/content/tncms/live/" />
<meta name="googlebot" content="noarchive" />
<meta name="description" content="First 100 words here." />
<meta name="keywords" content="project, title, something" />
<meta name="news_keywords" content="project, test, something" />
<meta property="fb:app_id" content="115439931930938" />
<meta property="og:title" content="The project title here" />
<meta property="og:site_name" content="Daily Nebraskan" />
<meta property="og:image" content="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/assets/v3/editorial/c/50/c50cd1f6-c916-11e3-9e9b-001a4bcf6878/5354ae43c6f05.image.jpg" />
<meta property="og:url" content="http://www.dailynebraskan.com/" />
<meta property="og:description" content="First 100 words here." />
<meta property="og:type" content="article" />
<meta property="twitter:site" content="@@dailyneb" />
<meta property="twitter:card" content="summary" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_jqueryui/resources/styles/jquery-ui-default.min.css?_dc=1359532404" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_advertising/resources/styles/ads.min.css?_dc=1397042025" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_base_navigation/resources/styles/navigation.core.css?_dc=1384332457" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_base_navigation/resources/styles/navigation.mega.css?_dc=1384332457" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_theme_palette/resources/styles/_switcher.css?_dc=1369812535" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_theme_glow/resources/styles/glow.css?_dc=1340122625" />
<link rel="stylesheet" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/global/resources/styles/_site/site.css?_dc=1392934365" />
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_yepnope/resources/scripts/yepnope.min.js?_dc=1361953334"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_jquery/resources/scripts/jquery.min.js?_dc=1354088778"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_jqueryui/resources/scripts/jquery-ui.min.js?_dc=1359532404"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_base_library/resources/scripts/user.js?_dc=1397042123"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_advertising/resources/scripts/ads_expandable.js?_dc=1397042025"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_advertising/resources/scripts/ads_page_curl.js?_dc=1397042025"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_advertising/resources/scripts/ads_text.js?_dc=1397042025"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_jquery_plugins/resources/scripts/jquery.cookie.js?_dc=1388679245"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_jquery_plugins/resources/scripts/jquery.hoverintent.min.js?_dc=1388679246"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_base_navigation/resources/scripts/navigation.mega.js?_dc=1384332457"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/global/resources/scripts/unslider.js?_dc=1389593089"></script>
<script type="text/javascript"  src="/shared-content/art/tncms/tracking.js"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/ads/tncms-ad-limits.js?_dc=1398092281"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/ads/tncms-ad-curve.js?_dc=1398059764"></script>
<script type="text/javascript"  src="/shared-content/art/tncms-ad-manager/ads.js"></script>
<!-- Domain: www.dailynebraskan.com,
     BLOX CMS version: 1.16.5,
     BLOX Template version: 1.14.8.1,
     BLOX Application: editorial,
     BLOX Application Skin: dn-2013,
     User status: User is not logged in,
     Timestamp: 10:08:06 am  --><title>{% block title %}Title here{% endblock %}</title>














        <script type="text/javascript" language="javascript">
        // <![CDATA[  
        townnews_common_user_validate(true);
        // ]]>
        </script><script type="text/javascript">
        jQuery(function() {
          jQuery("p.published time").timeago();
          jQuery("p.updated time").timeago();
          jQuery("section.comments time").timeago();
    
          if (jQuery.cookie("forced_logout")) {	  
		 	 // standard session expiration notice 
		 	 setTimeout("$('#login-box-form-panel').dialog('open');",1000);
             $('#login-box-form-panel').prepend('<div class="ui-state-error ui-corner-all"><h3>You have been logged out.</h3><p>Logging in from multiple locations may be the cause.</p></div>');		 
            jQuery.cookie("forced_logout", null, { path: '/', expires: -10});
		  }
    
       });
    </script>    
        <script type="text/javascript">
        // <![CDATA[
        if (location.protocol == "https:"){
            window.location = "http://www.dailynebraskan.com/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html";
        }
        // ]]>
        </script>
<script type="text/javascript">
/* <![CDATA[ */
jQuery(function() { 
    var successParam = null;
    var userAuthtoken = $.cookie('tncms-authtoken');
    var randomBustNum = Math.floor(Math.random()*99);
    if (userAuthtoken){
        // store the parameters from the current url
        var storedParams = window.location.href.match(/\?.*/);
        if (storedParams){
            var storedParamsString = storedParams.toString();
        }
            if (storedParamsString){
            // if the current url has parameters add them to the success string
                successParam = storedParamsString+'&cbst='+randomBustNum;
            }else{
                successParam = '?cbst='+randomBustNum;
            }    
        if (storedParams == null || (storedParamsString.indexOf('cbst') === -1)){    
        // redirect if there are no params or if the params are free of success
            window.location = '/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html'+successParam;
        }
    }
});
/* ]]> */
</script>

<script type="text/javascript">
/* <![CDATA[ */

if(typeof(vo)=="undefined"){
    if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"initializing vo"});}
    voCatcher = false;
    vo = new Object({
        embed:[],
        embedPost:[],
        standalone:[]
    });
    
    function tncms_video_ad(adId, videoUrl, videoClickUri, properties){
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"catching video ad: " + adId});}
        
        videoUrlPath = window.location.protocol+"//"+window.location.host

        if(properties.embed==1){
            if(properties.rolltype=="post"){
            vo.embedPost.push({
                adId:adId,
                videoUrl:videoUrlPath+videoUrl,
                videoClickUri:videoClickUri,
                width:properties.width,
                height:properties.height,
                volume:properties.volume,
                autoplay:properties.autoplay,
                rolltype:properties.rolltype,
                playlistItem:{


    url:window.location.protocol+"//"+window.location.host+videoUrl,
    autoPlay:true,
    autoBuffering:false,
    onStart: function(clip){ 
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'play', "adID: "+vo.post[0].adId+" url: "+clip.url]);
        }
    
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Video Ad - Start Event: "+clip.url});}
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Video Ad - Playing: "+clip.url});}
                
    },
    
    onResume: function(clip) {  
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'resume', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onPause: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'pause', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onStop: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'stop', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onFinish: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'finish', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
        }
                
        vo.post[0].watched = true;
        vo.post[0].lock = false;

            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"finished playing ad video"});}
        
        var next = jQuery("#"+this.id()).parents(".blox-multimedia").find(".blox-multimedia-text .item.playing").first();
        if(automaticSwapFromAd && next.find(".video-type").text()!="video"){
            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"attempting to swap to active video in to "+this.id()});}
            swapSubstituteHTML("#"+this.id(),jQuery("#"+this.id()).parents(".blox-multimedia").find(".blox-multimedia-text .item.playing a.load-video").first());

        }

        automaticSwapFromAd = false;
        vo.post.reverse().pop();
        
    }


},
                properties:properties
            });
            }else{
            vo.embed.push({
                adId:adId,
                videoUrl:videoUrlPath+videoUrl,
                videoClickUri:videoClickUri,
                width:properties.width,
                height:properties.height,
                volume:properties.volume,
                autoplay:properties.autoplay,
                rolltype:properties.rolltype,
                playlistItem:{


    url:window.location.protocol+"//"+window.location.host+videoUrl,
    autoPlay:false,
    autoBuffering:false,
    onStart: function(clip){ 
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'play', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
        }
    
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Video Ad - Start Event: "+clip.url});}
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Video Ad - Playing: "+clip.url});}
                
    },
    
    onResume: function(clip) {  
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'resume', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onPause: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'pause', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onStop: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'stop', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onFinish: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'finish', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
        }
                
        vo.embed[0].watched = true;
        vo.embed[0].lock = false;

            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"finished playing ad video"});}
        
        var next = jQuery("#"+this.id()).parents(".blox-multimedia").find(".blox-multimedia-text .item.playing").first();
        if(automaticSwapFromAd && next.find(".video-type").text()!="video"){
            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"attempting to swap to active video in to "+this.id()});}
            swapSubstituteHTML("#"+this.id(),jQuery("#"+this.id()).parents(".blox-multimedia").find(".blox-multimedia-text .item.playing a.load-video").first());

        }

        automaticSwapFromAd = false;
        vo.embed.reverse().pop();
        
    }


},
                properties:properties
            });
            }
        }else{
            vo.standalone.push({
                adId:adId,
                videoUrl:videoUrlPath+videoUrl,
                videoClickUri:videoClickUri,
                width:properties.width,
                height:properties.height,
                volume:properties.volume,
                autoplay:properties.autoplay,
                rolltype:properties.rolltype,
                playlistItem:{


    url:window.location.protocol+"//"+window.location.host+videoUrl,
    autoPlay:false,
    autoBuffering:false,
    onStart: function(clip){ 
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'play', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
        }
    
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Video Ad - Start Event: "+clip.url});}
        if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Video Ad - Playing: "+clip.url});}
                
    },
    
    onResume: function(clip) {  
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'resume', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onPause: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'pause', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onStop: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'stop', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
            }
    },

    onFinish: function(clip) {
        if(typeof(_gaq)!="undefined"){
            _gaq.push(['_trackEvent', 'videos', 'finish', "adID: "+vo.embed[0].adId+" url: "+clip.url]);
        }
                
        vo.embed[0].watched = true;
        vo.embed[0].lock = false;

            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"finished playing ad video"});}
        
        var next = jQuery("#"+this.id()).parents(".blox-multimedia").find(".blox-multimedia-text .item.playing").first();
        if(automaticSwapFromAd && next.find(".video-type").text()!="video"){
            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"attempting to swap to active video in to "+this.id()});}
            swapSubstituteHTML("#"+this.id(),jQuery("#"+this.id()).parents(".blox-multimedia").find(".blox-multimedia-text .item.playing a.load-video").first());

        }

        automaticSwapFromAd = false;
        vo.embed.reverse().pop();
        
    }


},
                properties:properties            
            });
        }
    }
}
voCatcher = true;

/* ]]> */
</script>

<!--[if lt IE 9]>
				<link rel="stylesheet" type="text/css" href="components/core_base_navigation/resources/styles/navigation.mega.IE.css">
			<![endif]-->
			<!--[if IE 7]>
				<link rel="stylesheet" type="text/css" href="components/core_base_navigation/resources/styles/navigation.mega.IE7.css">
				<script type="text/javascript">
					$(function() {
						$(document).ready(function() {                                                        
							$("ul.navigation.mega .mega-nav-container.unmega, ul.navigation.mega .mega-nav-container.onemega").each(function(){
								var invertMargin = $(this).parent().width();
								invertMargin = -9 - invertMargin;
								invertMargin = invertMargin + "px !important";
								$(this).attr("style", "margin-left:" + invertMargin);
							});
									
							$("ul.navigation.mega .mega-nav-container .blox-img-loader").each(function(){
								$(this).attr('src', $(this).data('original'));										
								$(this).removeClass('blox-img-loader');										
							});
						});
					});   
				</script>
			<![endif]-->
		
	<script type="text/javascript">
	$(function (){
		
			$('#blox-header, #blox-header-vertical-nav').addClass('header-bg');
			$('#blox-header, #blox-header-vertical-nav').addClass('iter41');
		
		
		
	});
	</script>
	<!--[if IE]>
    <link media="screen" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_base_library/resources/styles/core-ie.css?_dc=1397042123" rel="stylesheet" type="text/css" />
    <link media="screen" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/global/resources/styles/ie.css?_dc=1383673331" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
    <link media="screen" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_base_library/resources/styles/core-ie6.css?_dc=1397042123" rel="stylesheet" type="text/css" />
    <link media="screen" href="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/global/resources/styles/ie6.css?_dc=1383673331" rel="stylesheet" type="text/css" />
<![endif]--><link rel="search" type="application/opensearchdescription+xml" title="Daily Nebraskan Search" href="http://www.dailynebraskan.com/search/opensearch/generic.xml" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <!-- Google Fonts -->
   <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Oswald:400,700,300' rel='stylesheet' type='text/css'/>
    
   <!-- OpenX header script -->
    <script type="text/javascript" src="http://ox-d.oncampusweb.com/w/1.0/jstag"></script>
    <script type="text/javascript">
        var OX_fd74d16ae8 = OX();
        OX_fd74d16ae8.addPage("536870966");
        OX_fd74d16ae8.fetchAds();
    </script>
    <!-- end generated tag -->
</head><body>


    

<div id="popoverAd" title="Advertisement" style="display:none; position:fixed; z-index: 1002;">
		<a class="close float-right" href="javascript:void(0);" style="color:#fff; font-weight:bold; font-size:14px;">
			Close
		</a>
		<div class="clear"></div><div class="ad-position standard"><div id="ad-popoverasset" class="advertisement"><div id="tncms-region-ads-popoverasset" class="tncms-region-ads"></div></div></div>
	</div>
	<div class="ui-widget-overlay" style="display:none; z-index: 1001; background:rgba(0,0,0,0.7); opacity:1;"></div>
	<script type="text/javascript">
	// <![CDATA[
		$(function(){
			var $popover = $.Deferred()
				.done(function(){
					var $i = $('#popoverAd');
						$i.find('.tncms-region-ads').show();
						$i.css({
							left:$(window).width()/2 - ($i.width()/2),
							top:($(window).height()/2) - ($i.height()/2)
						}).show();
						$i.siblings('.ui-widget-overlay').css({
							width: $(window).width(),
							height: $(document).height()
						}).show();
						$i.find('.close').bind('click',function(){
							$i.siblings('.ui-widget-overlay').fadeOut(750).
							siblings('#popoverAd').animate({left:-$i.outerWidth()}, 750, 'easeInOutBack');
						});
				});

			// logic for whether to load popover or not
			var bloxAdpopover = $.cookie('blox-popover');
			// No longer creating EMPTY cookie, so the ad can be section specific.
                        //if (bloxAdpopover != 'EMPTY'){
				if( $('#popoverAd .tncms-region-ads').children(':not("script")').length==0 ){
					//$.cookie("blox-popover", "EMPTY", {path: '/'});
				}else{
					if(bloxAdpopover == null){
						var date = new Date();
						var minutes =5;
						date.setTime(date.getTime() + (minutes * 60 * 1000)); 				
					
						$.cookie("blox-popover", "wait", {path: '/', expires: date});
						$popover.resolve();
					};
				};
			//};
		});
		// ]]>
	</script>




    <div id="blox-html-container" class="venue-app app-editorial url-default_2013 depth-2 ads-preview-false theme-none ui-theme-default grid-300_4-4-4 blox-asset news  news unl-recruitment-efforts-expand-overseas article_898169d0-c916-11e3-af18-001a4bcf6878-html ">


<div class="container blox-transparency container_12">
    <header id="main-header">
        <div id="top-header" class="hidden-xs">		
            <div class="row">
                <!-- Page top navigation -->
                <nav id="top-nav" class="col-md-6">
                    <div id="tncms-region-nav-topbar" class="tncms-region-nav "></div>  
                    
        
        
        <div id="tncms-region-nav-footer_main_2" class="tncms-region-nav ">
	<ul class="nav-footer bull-list">
		
			<li class="nav-footer-item-about-the-dn  ">
				<a href="/site/about.html/">About the DN</a>
				
			</li>
		
			<li class="nav-footer-item-advertise  ">
				<a href="/site/advertise.html/">Advertise</a>
				
			</li>
		
			<li class="nav-footer-item-classified-ads  ">
				<a href="/classifieds">Classified Ads</a>
				
			</li>
		
			<li class="nav-footer-item-work-for-us  ">
				<a href="/site/work-for-us.html/">Work For Us</a>
				
			</li>
		
	</ul>
</div>

                </nav>
                <!-- End page top navigation -->
                <div id="top-social">
                    <span id="top-notification" class="muted">Download our new app: <a href="http://t.co/BVdRMMtss8">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.icampustimes.dailynebraskan&hl=en">Android</a></span>
                    <ul class="icons">
                        <li><a href="http://twitter.com/DailyNeb" class="icon-twitter"></a></li>
                        <li><a href="https://www.facebook.com/dailynebraskan" class="icon-facebook"></a></li>
                        <li><a href="http://instagram.com/dailynebraskan" class="icon-instagram"></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="top-advertisement" class="hidden-xs">
            <div id="tncms-region-ads-leaderboard-middle" class="tncms-region-ads"><script type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/ads/leaderboard-middle/leaderboard-middle1.js?_dc=1392083074"></script>
<script type="text/javascript">oTNCMS_Ad.setRelative();
oTNCMS_Ad.show(null, null, 'http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com');
</script>
</div>
        </div>
        <div id="logo-header">
            <a href="http://dailynebraskan.com/"><div id="main-logo"><h1 class="visible-lg visible-xs">Daily Nebraskan</h1><h1 class="hidden-lg hidden-xs">DN</h1></div></a>
            <div id="logo-content" class="hidden-xs">
                <ul class="icons">
                        <a href="http://issuu.com/dailyneb"><li class="green icon-newspaper"><span>Print Issue</span></li></a>
                        <a href="/multimedia/videos/"><li class="blue icon-camera2"><span>Video</span></li></a>
                        <a href="/multimedia/photos/"><li class="purple icon-camera"><span>Photo</span></li></a>
                </ul><div id="tncms-region-top-spotlight" class="tncms-region "><div id="tncms-block-298733" class="tncms-block"><div id="big-story"><span>The Big Story</span>

   <h4><a href="/news/administrators-tout-benefits-of-reaching-students/article_545def6a-c913-11e3-9d42-001a4bcf6878.html">Administrators tout benefits of reaching 30,000 students</a></h4>

</div></div></div></div>
            <div class="clearfix"></div>
        </div>
        <div id="main-navigation">
            <div class="row">
                <nav id="primary-nav" class="col-md-9">
                    
    <div class="clear"></div>
    <div id="main-nav-container" class="" >
            <h2 id="nav-full-width-logo"><a href="/">Daily Nebraskan</a></h2>
            <div id="main-nav" class="navigation main nav-depth-0 mega    " >
 
                <div id="tncms-region-nav-main_nav" class="tncms-region-nav ">
		<ul id="main_nav" class="navigation main nav-depth-1 mega hover single_bar normal  arrows  ">
		
			<li  class="nav-main-item-home nav-left    ">
					<a href="/">Home</a>
					</li> <li  class="nav-main-item-projects nav-left    ">
					<a href="/projects">Projects</a>
					</li> <li  class="nav-main-item-news nav-left active current-section   ">
					<a href="/news">News</a>
					</li> <li  class="nav-main-item-sports nav-left    ">
					<a href="/sports">Sports</a>
					</li> <li  class="nav-main-item-arts-life nav-left    ">
					<a href="/arts_and_entertainment">Arts & Life</a>
					</li> <li  class="nav-main-item-opinion nav-left    ">
					<a href="/opinion">Opinion</a>
					</li> <li  class="nav-main-item-photos nav-left    ">
					<a href="/multimedia/photos">Photos</a>
					</li> <li  class="nav-main-item-videos nav-left    ">
					<a href="/multimedia/videos">Videos</a>
					</li> 
		</ul>
		
		
		
		
		
		

		<div class="clear"></div>
		
		
		
		
		
		
	
	<script type="text/javascript">
		

		

		

                
		
		
		
		
		
		
		
		

		
			$(".mega-nav-container").each(function() {

			
				var bLeftSideEmpty = "true";
				$(".nav-content-left .tncms-region", this).each(function() {
					if($(this).html() != '') {
						bLeftSideEmpty = "false";
					}
				});
				if(bLeftSideEmpty == "true"){$(".nav-content-left", this).addClass("hide");}
				
				var bRightSideEmpty = "true";
				$(".nav-content-right .tncms-region", this).each(function() {
					if($(this).html() != '') {
						bRightSideEmpty = "false";
					}
				});
				if(bRightSideEmpty == "true"){$(".nav-content-right", this).addClass("hide");}
				if(bLeftSideEmpty == "true" && bRightSideEmpty == "true") {
					$(this).addClass("unmega");
					var unmegaPosition = $(this).parent().position();
					if(unmegaPosition.left + 160 > 960) {
						$(this).css('right', '0px');
					}
				}
				if((bLeftSideEmpty == "true" && bRightSideEmpty == "false") || (bLeftSideEmpty == "false" && bRightSideEmpty == "true")){
					$(this).addClass("onemega");
					var onemegaPosition = $(this).parent().position();
					if(onemegaPosition.left + 550 > 960) {
						$(this).css('right', '0px');
					}
				}
			});
			
		
		
	</script>

			<!--[if lt IE 9]>
				<script type="text/javascript">
					$("ul.navigation.mega .mega-nav-container .blox-img-loader").each(function(){
									$(this).attr('src', $(this).data('original'));										
									$(this).removeClass('blox-img-loader');										
					});
				</script>
			<![endif]-->
		</div>
                <div class="clear"></div>
            </div>
                <div class="clear"></div>
        </div>
    <div class="clear"></div>

                </nav>
                <div id="primary-search" class="col-md-3 col-xs-12">
                    <form id="blox-search-form" action="/search" method="get">
			<div>
                            <input type="hidden" name="t" value="article">
                            <input type="hidden" name="s" value="start_time">
                            <input type="hidden" name="sd" value="desc">
                            <input type="hidden" name="d1" value="40 years ago">
                            <input class="search-bar" type="text" name="q" value=""  placeholder="Search">
			</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </header><!-- /header -->
    <!-- main-content -->
    <div id="main-content">
<article>
    <div id="page-social">
        <ul class="icons">
            <li><a href="https://twitter.com/share?url=http://www.dailynebraskan.com/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" class="icon-twitter"></a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.dailynebraskan.com/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" class="icon-facebook"></a></li>
            <li><a href="https://plus.google.com/share?url=http://www.dailynebraskan.com/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" class="icon-google-plus"></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <header id="article-header">
{% block header %}
        <h1>Project Title here</h1>
        <span>Some text here</span>
{% endblock %}
    </header>
    <div class="row">
        
        <!-- Standard Story Page -->
        <div id="article-content" class="col-md-8">
            <div id="article-image" class="content-container left">
Got a visualization? Put it here. Attach a width parameter to it.
            </div>
            <div class="content-container left">
{% block content %}

Your stuff here.

{% endblock %}
			</div>
            <div id="article-comments" class="content-container left">
                <div id="disqus_thread"></div>
  
            </div>
        </div>
        <div id="article-sidebar" class="col-md-4 content-container right"><div class="advertisement">
    <div id="tncms-region-ads-rail-top" class="tncms-region-ads"><script type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/ads/rail-top/rail-top1.js?_dc=1392082473"></script>
<script type="text/javascript">oTNCMS_Ad.setRelative();
oTNCMS_Ad.show(null, null, 'http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com');
</script>
<script type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/ads/rail-top/rail-top2.js?_dc=1392082473"></script>
<script type="text/javascript">oTNCMS_Ad.setRelative();
oTNCMS_Ad.show(null, null, 'http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com');
</script>
</div>
    <div id="tncms-region-ads-in-story" class="tncms-region-ads"><script type="text/javascript" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/ads/in-story/in-story2.js?_dc=1394983254"></script>
<script type="text/javascript">oTNCMS_Ad.setRelative();
oTNCMS_Ad.show(null, null, 'http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com');
</script>
</div>
</div>
<div class="tncms-block block-style-1">
    <div class="blox-title">
        <h3>Most Popular This Week</h3>
    </div>
    
    
    <ul class="asset-list">
        
        <li>
            <a href="/opinion/rooney-e-cigs-carry-harmful-side-effects-for-smokers-nonsmokers/article_30127d5c-991a-11e3-b53c-001a4bcf6878.html" title="ROONEY: E-cigs carry harmful side effects for smokers, nonsmokers">
                <img class="article-thumb" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/assets/v3/editorial/2/64/2648efba-9526-11e3-8193-0017a43b2370/52fd8a4cd6f20.image.jpg"/>
            </a>
            <div class="right">
                <span><a href="/opinion/rooney-e-cigs-carry-harmful-side-effects-for-smokers-nonsmokers/article_30127d5c-991a-11e3-b53c-001a4bcf6878.html" title="ROONEY: E-cigs carry harmful side effects for smokers, nonsmokers">ROONEY: E-cigs carry harmful side effects for smokers, nonsmokers</a></span>
            </div>
            <div class="clearfix"></div>
        </li>
        
        <li>
            <a href="/sports/nu-gymnast-emily-wong-relies-on-faith-support-of-team/article_dc732c58-c512-11e3-bde3-0017a43b2370.html" title="NU gymnast Emily Wong relies on faith, support of team after father’s death">
                <img class="article-thumb" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/assets/v3/editorial/4/79/479d9284-c513-11e3-8be9-0017a43b2370/534df2716e907.image.jpg"/>
            </a>
            <div class="right">
                <span><a href="/sports/nu-gymnast-emily-wong-relies-on-faith-support-of-team/article_dc732c58-c512-11e3-bde3-0017a43b2370.html" title="NU gymnast Emily Wong relies on faith, support of team after father’s death">NU gymnast Emily Wong relies on faith, support of team after father’s death</a></span>
            </div>
            <div class="clearfix"></div>
        </li>
        
        <li>
            <a href="/news/unl-latter-day-saint-student-finds-familiarity-with-local-congregation/article_140c6b52-c37e-11e3-b2b6-001a4bcf6878.html" title="UNL Latter-day Saint student finds familiarity with local congregation">
                <img class="article-thumb" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/assets/v3/editorial/1/a7/1a7b710e-c383-11e3-97ec-001a4bcf6878/534b5362bc9b1.image.jpg"/>
            </a>
            <div class="right">
                <span><a href="/news/unl-latter-day-saint-student-finds-familiarity-with-local-congregation/article_140c6b52-c37e-11e3-b2b6-001a4bcf6878.html" title="UNL Latter-day Saint student finds familiarity with local congregation">UNL Latter-day Saint student finds familiarity with local congregation</a></span>
            </div>
            <div class="clearfix"></div>
        </li>
        
        <li>
            <a href="/arts_and_entertainment/guide-to-lincoln-s-best-late-night-early-morning-food/article_e9c83b3a-c514-11e3-90ee-0017a43b2370.html" title="Guide to Lincoln’s best late-night, early morning food">
                <img class="article-thumb" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/assets/v3/editorial/6/78/67827482-c515-11e3-ab96-0017a43b2370/534df6ee06974.image.jpg"/>
            </a>
            <div class="right">
                <span><a href="/arts_and_entertainment/guide-to-lincoln-s-best-late-night-early-morning-food/article_e9c83b3a-c514-11e3-90ee-0017a43b2370.html" title="Guide to Lincoln’s best late-night, early morning food">Guide to Lincoln’s best late-night, early morning food</a></span>
            </div>
            <div class="clearfix"></div>
        </li>
        
        <li>
            <a href="/opinion/eubanks-economic-benefits-from-legalizing-marijuana-will-draw-interest/article_62bfa21c-7d8f-11e3-96b9-0019bb30f31a.html" title="EUBANKS: Economic benefits from legalizing marijuana will draw interest">
                <img class="article-thumb" src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/assets/v3/editorial/d/a1/da1fd4b4-40f7-11e3-9a35-001a4bcf6878/52704f815fede.image.jpg"/>
            </a>
            <div class="right">
                <span><a href="/opinion/eubanks-economic-benefits-from-legalizing-marijuana-will-draw-interest/article_62bfa21c-7d8f-11e3-96b9-0019bb30f31a.html" title="EUBANKS: Economic benefits from legalizing marijuana will draw interest">EUBANKS: Economic benefits from legalizing marijuana will draw interest</a></span>
            </div>
            <div class="clearfix"></div>
        </li>
        
    </ul>
    
</div>
<div class="tncms-block block-style-1">
    <div class="blox-title">
        <h3>Email Sign Up</h3>
    </div>
    <div class="block-content">
        <form action="" method="POST" id="mailinglist-signup-">
            <input id="list-id-" type="hidden" name="list_id" value="">     
        <script>
        function populateListIDs()
        {
               var pliTemp = [];
                    $('#lists-checkboxes- input:checked').each(function() {
                        pliTemp.push($(this).val());
                    }); 
                    return pliTemp;
                    
        }
        </script>
            <div id="lists-checkboxes-" class="ui-buttonset">
            <ul class="check-list">
               
                <script>
                $(function() {
          $("label[for='check18487c520-824c-11e3-b4b7-0019bb30f31a']").click(function() {
                if($(this).parent().find('input').is(":checked"))  
                {
                        $(this).parent().find('input').prop("checked", false);
                        $(this).find('span.checkbox').toggleClass("checked");
                        }
                else
                {
                        $(this).parent().find('input').prop("checked", true); 
                        $(this).find('span.checkbox').toggleClass("checked");
                        }
                });
                }); 
            
                </script>    
                <li>
            <input type="checkbox" class="list_id_options_ ui-helper-hidden-accessible" value="c299e370-2ed8-11e2-b173-0019bb30f31a" name="list_id_">
            <label for="check18487c520-824c-11e3-b4b7-0019bb30f31a" class="" role="button" aria-disabled="false" aria-pressed="true">
            <span class="checkbox"></span>
            <p id="c299e370-2ed8-11e2-b173-0019bb30f31a" class="title">Breaking News</p>
            <div class="description">
            
            </div>
            </label>
                </li>      
               
                <script>
                $(function() {
          $("label[for='check28487c520-824c-11e3-b4b7-0019bb30f31a']").click(function() {
                if($(this).parent().find('input').is(":checked"))  
                {
                        $(this).parent().find('input').prop("checked", false);
                        $(this).find('span.checkbox').toggleClass("checked");
                        }
                else
                {
                        $(this).parent().find('input').prop("checked", true); 
                        $(this).find('span.checkbox').toggleClass("checked");
                        }
                });
                }); 
            
                </script>    
                <li>
            <input type="checkbox" class="list_id_options_ ui-helper-hidden-accessible" value="a569b830-219e-11e2-bc26-0019bb30f31a" name="list_id_">
            <label for="check28487c520-824c-11e3-b4b7-0019bb30f31a" class="" role="button" aria-disabled="false" aria-pressed="true">
            <span class="checkbox"></span>
            <p id="a569b830-219e-11e2-bc26-0019bb30f31a" class="title">Husker Sports</p>
            </label>
                </li>      
               
                <script>
                $(function() {
          $("label[for='check38487c520-824c-11e3-b4b7-0019bb30f31a']").click(function() {
                if($(this).parent().find('input').is(":checked"))  
                {
                        $(this).parent().find('input').prop("checked", false);
                        $(this).find('span.checkbox').toggleClass("checked");
                        }
                else
                {
                        $(this).parent().find('input').prop("checked", true); 
                        $(this).find('span.checkbox').toggleClass("checked");
                        }
                });
                }); 
            
                </script>    
                <li>
            <input type="checkbox" class="list_id_options_ ui-helper-hidden-accessible" value="c94142d8-0f19-11e2-b886-0019bb30f31a" name="list_id_">
            <label for="check38487c520-824c-11e3-b4b7-0019bb30f31a" class="" role="button" aria-disabled="false" aria-pressed="true">
            <span class="checkbox"></span>
            <p id="c94142d8-0f19-11e2-b886-0019bb30f31a" class="title">News Updates</p>
            </label>
                </li>      
            
            </ul>
             </div>
            <p>Would you like to receive our daily news update sent to your email? <strong>Sign up today!</strong></p>
            <input type="text" id="email" class="text valid" name="email" value="" placeholder="Email Address">
            <div class="submit-container">
                <input class="button mailinglist-submit" type="submit" name="submit" value="Subscribe" role="button" aria-disabled="false">
            </div>
            </form>
    </div>
</div></div>
        
    </div>
</article>
<script>
$(document).ready(function() {
	$(".inline-child.image").click(function() {
		if ($(this).hasClass("expanded")){
			$(this).removeClass("expanded");
			var originalThumb = $("img", this).attr("data-original");
			$("img", this).attr("src",originalThumb);
		}
		else{
			$(".inline-child.image").removeClass("expanded");
			$(this).addClass("expanded");
			var fullImage = $("img", this).attr("data-full");
			$("img", this).attr("src",fullImage);
		}
	});
});
</script><!-- end blox-container -->
                <div class="clear"></div>
                </div><!-- /main-content -->
                <!-- main-footer -->
                <footer id="main-footer">
                    <div id="footer-dark">
                        <div class="row">
                            <div class="col-md-4 col-xs-6"><div class="blox-title"><h3>Sections</h3></div>
        
        
        <div id="tncms-region-nav-footer_main_1" class="tncms-region-nav ">
	<ul class="nav-footer bull-list">
		
			<li class="nav-footer-item-projects  ">
				<a href="/projects">Projects</a>
				
			</li>
		
			<li class="nav-footer-item-news  ">
				<a href="/news">News</a>
				
			</li>
		
			<li class="nav-footer-item-sports  ">
				<a href="/sports">Sports</a>
				
			</li>
		
			<li class="nav-footer-item-arts-life  ">
				<a href="/arts_and_entertainment">Arts &amp; Life</a>
				
			</li>
		
			<li class="nav-footer-item-opinion  ">
				<a href="/opinion">Opinion</a>
				
			</li>
		
			<li class="nav-footer-item-photos  ">
				<a href="/multimedia/photos">Photos</a>
				
			</li>
		
			<li class="nav-footer-item-videos  ">
				<a href="/multimedia/videos">Videos</a>
				
			</li>
		
	</ul>
</div>
</div>
                            <div class="col-md-4 col-xs-6"><div class="blox-title"><h3>Services</h3></div>
        
        
        <div id="tncms-region-nav-footer_main_2" class="tncms-region-nav ">
	<ul class="nav-footer bull-list">
		
			<li class="nav-footer-item-about-the-dn  ">
				<a href="/site/about.html/">About the DN</a>
				
			</li>
		
			<li class="nav-footer-item-advertise  ">
				<a href="/site/advertise.html/">Advertise</a>
				
			</li>
		
			<li class="nav-footer-item-classified-ads  ">
				<a href="/classifieds">Classified Ads</a>
				
			</li>
		
			<li class="nav-footer-item-work-for-us  ">
				<a href="/site/work-for-us.html/">Work For Us</a>
				
			</li>
		
	</ul>
</div>
</div>
                            <div class="col-md-4 col-xs-12"><div id="tncms-region-footer-col3" class="tncms-region "><div id="tncms-block-298732" class="tncms-block"><div class="blox-html-asset">
			
        			<div class="blox-title">
            				
    
        <h3>
<a href="/contact_us" title="Contact Us" >
                
                  Contact Us
                
                      </a>
                
        </h3>
        			</div>
        			
        		

			
            			
        			Phone Number: 402-472-2588<br/>
E-mail: dn@unl.edu<br/>
Address: P.O. Box 880448<br/>
Lincoln, NE 68588<br/>
    			
    		</div>
		</div></div></div>
                        </div>
                    </div>
                        <div class="row">
                                <div class="col-md-12 small"><div id="copyright">&copy; Copyright 2014, <a href="/">Daily Nebraskan</a>, Lincoln, NE. Powered by <a href="http://bloxcms.com" title="BLOX Content Management System" rel="external">BLOX Content Management System</a> from <a href="http://townnews.com" title="TownNews.com BLOX Newspaper Content Management" rel="external">TownNews.com</a></div></div>
                        </div>
                </footer><!-- /main-footer -->
		</div>
			<div id="leaderboard-bottom">
    
	<div id="tncms-region-ads-leaderboard-bottom" class="tncms-region-ads"></div>
	<div id="tncms-region-ads-tile-bottom" class="tncms-region-ads"></div>
    
    <div class="clear"></div>
</div>

	<!-- end wrapper -->	
	</div>
</div>
<div id="login-box-form-panel" class="login-box-form ui-corner-all ui-widget-content" title="Login to Daily Nebraskan" style="display:none">


    
    <div class="login-column-left no-signup login-column">
 


   

        <form id="tncms-login-form-panel" class="tncms-login-form" method="post" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/login/">
        <fieldset>
             <input type="hidden" name="referer_url" value="/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" />         
            <label for="username">Screen Name or Email</label>
            <input id="username-panel" type="text" name="username" class="text ui-widget-content" value="" tabindex="200"/>
            <label for="password">Password</label>
            <a title="Forgot password" id="password-reset-open-panel" href="javascript:void(0)" rel="nofollow">Forgot?</a>
            <input id="password-panel" type="password" name="password" value="" class="password text ui-widget-content" tabindex="201" />
            
            <input type="submit" id="login-form-submit-panel" class="jquery-ui-button clear" value="Login" tabindex="202" />
        </fieldset>
        </form>    
		
    
    <form id="tncms-password-reset-form-panel" method="post" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/forgot/" style="display:none;">
        <fieldset>
            <input type="hidden" name="referer_url" value="" />
            <label for="username">Screen Name or Email</label>
            <input type="text" name="username" id="username-pass-panel" class="text ui-widget-content" value="" tabindex="203"/><!--ui-widget-content-->
            <input type="submit" id="password-reset-submit-panel" class="password-reset-submit jquery-ui-button" value="Change Password" tabindex="204"/>
            <a title="Cancel forgot password" id="password-reset-close-panel" href="javascript:void(0)" style="clear:left; float:left;">Now I remember!</a>
        </fieldset>
    </form>
    <div class="clear"></div>
    </div>
            
    <div class="login-column-right login-column providers">
    
        <p class="openid-notice">
        
            Or, use your
         <span class="openid-provider">linked</span> account:                
        </p>    
        
    <form id="facebook-login-panel" class="form openid-form open-id-facebook first-in-list odd list-position-1" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/login/" method="post"  data-ajax="false">
            <fieldset>
				<input type="hidden" name="referer_url" value="/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" />    
                <input type="hidden" name="username" value="provider:facebook" />
				<button data-theme="d" data-mini="true" class="openid-button jquery-ui-button" title="Login with facebook" type="submit" value="facebook">
                
                    <span class="social-icon social-icon-facebook float-left"></span>
                    <span class="provider-name">
					facebook
                    </span>
            
                </button>
            </fieldset>
            </form><form id="google-login-panel" class="form openid-form open-id-google even list-position-2" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/login/" method="post"  data-ajax="false">
            <fieldset>
				<input type="hidden" name="referer_url" value="/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" />    
                <input type="hidden" name="username" value="provider:google" />
				<button data-theme="d" data-mini="true" class="openid-button jquery-ui-button" title="Login with google" type="submit" value="google">
                
                    <span class="social-icon social-icon-google float-left"></span>
                    <span class="provider-name">
					google
                    </span>
            
                </button>
            </fieldset>
            </form><form id="yahoo-login-panel" class="form openid-form open-id-yahoo last-in-list odd list-position-3" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/login/" method="post"  data-ajax="false">
            <fieldset>
				<input type="hidden" name="referer_url" value="/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" />    
                <input type="hidden" name="username" value="provider:yahoo" />
				<button data-theme="d" data-mini="true" class="openid-button jquery-ui-button" title="Login with yahoo" type="submit" value="yahoo">
                
                    <span class="social-icon social-icon-yahoo float-left"></span>
                    <span class="provider-name">
					yahoo
                    </span>
            
                </button>
            </fieldset>
            </form>
        <div class="other-providers">
    <form id="myopenid-login-panel" class="form openid-form open-id-myopenid first-in-list odd list-position-1" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/login/" method="post"  data-ajax="false">
            <fieldset>
				<input type="hidden" name="referer_url" value="/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" />    
                <input type="hidden" name="username" value="provider:myopenid" />
				<button data-theme="d" data-mini="true" class="openid-button jquery-ui-button" title="Login with myopenid" type="submit" value="myopenid">
                
                    <span class="social-icon social-icon-myopenid float-left"></span>
                    <span class="provider-name">
					openID
                    </span>
            
                </button>
            </fieldset>
            </form><form id="aol-login-panel" class="form openid-form open-id-aol last-in-list even list-position-2" action="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/login/" method="post"  data-ajax="false">
            <fieldset>
				<input type="hidden" name="referer_url" value="/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" />    
                <input type="hidden" name="username" value="provider:aol" />
				<button data-theme="d" data-mini="true" class="openid-button jquery-ui-button" title="Login with aol" type="submit" value="aol">
                
                    <span class="social-icon social-icon-aol float-left"></span>
                    <span class="provider-name">
					aol
                    </span>
            
                </button>
            </fieldset>
            </form>        
        </div>
    </div>
    <div class="login-box-create-acount">
        <a title="create an account" id="login-box-create-link-panel" href="https://dailynebraskan-dot-com.bloxcms-ny1.com/users/signup/?referer_url=/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html" rel="nofollow">
            Need an account? Create one now.
        </a>
    </div>    
    
<div class="clear"></div>
</div>
<script type="text/javascript">    
    $(function(){
    // create login-box form dialog
        $('#login-box-form-panel').dialog({
            autoOpen: false,
            width: 565,
            modal: true,
            resizable: false,
            show: {
                effect: 'drop',
                direction: 'up',
                duration: 200
            },
            hide: {
                effect: 'drop',
                direction: 'up',
                duration: 100
            },
            buttons:{
                Cancel: function(){
                    $(this).dialog('close');
                }
            }
        });
    // open login when open-modal-login class is clicked    
        $('.open-modal-login-panel').click(function(){
            $('#login-box-form-panel').dialog('open');
            $("[aria-labelledby=ui-dialog-title-login-box-form-panel] .ui-dialog-buttonpane").addClass("login");
            $("[aria-labelledby=ui-dialog-title-login-box-form-panel]").addClass("jquery-ui-edit");
            $(".ui-dialog-buttonpane.login button:last").addClass("cancel");
        });
    });    
// switch to pasword forgot form    
    $('#password-reset-open-panel').click(function(){
        $("#tncms-password-reset-form-panel").show();
        $("#tncms-login-form-panel").hide();
        $("#ui-dialog-title-login-box-form-panel").text("Change your password");
    });
// switch back to login form    
    $('#password-reset-close-panel').click(function(){
        $("#tncms-login-form-panel").show();
        $("#tncms-password-reset-form-panel").hide();
        $("#ui-dialog-title-login-box-form-panel").text("Login to Daily Nebraskan");
    });
// display loader when create account or openid process begins
    $("button.openid-button, a#login-box-create-link-panel").click(function() {
        $("#login-box-form-panel").addClass("openid-form-processing blox-loading");
        $(".register-column, .login-column-left, .login-column-right, a#login-box-create-link-panel").hide();
    });    
// style buttons    
    $(".jquery-ui-button").button()

// validate form
var valAuthToken = $.cookie('tncms-authtoken');
if (valAuthToken == null){
$(document).ready(function() {
// validate login form fields
    $("#tncms-login-form-panel").validate({
        rules: {    
            username: {
                required:true}
        },
        messages: {
            username: {
                required:"Screen name or email address required."}    
        }
    });
// validate forgot form fields
    $("#tncms-password-reset-form-panel").validate({
        rules: {    
            username: {
                required:true}
        },
        messages: {
            username: {
                required:"Screen name or email address required."}
        }
    });    
});
}

/* add parameters to referer URL */
$("#tncms-login-form-panel").submit(function() {
// would be nice to work logout into this too. It should work.
	var cur_params = window.location.href.match(/\?.*/);
	if (cur_params){
		cur_params = cur_params.toString();
		var orig_refer = $(this).find('input[name="referer_url"]').val();
		if (orig_refer) orig_refer = orig_refer.toString();
		var cur_paramsString = cur_params.replace(/[\?&]_dc=[0-9.]*/,"");
		if (orig_refer.indexOf("?") != -1){
			cur_paramsString = cur_paramsString.replace("?","&");
		}
		if (cur_paramsString){
			var final_refer = orig_refer+cur_paramsString; 
			$(this).find('input[name="referer_url"]').val(final_refer);
		}
	}	
});
</script>
    
    
<script type="text/javascript">
/* <![CDATA[ */
jQuery(function(){
    if(typeof(vo)!="undefined"){ if(vo.standalone.length>0){
        fallbackPlayer = new Array();
        fallbackPlaylist = new Array();
        var adCounter = 0;
        var width = 300;
        var height = 240;
        jQuery.each(vo.standalone,function(){
            if(typeof(ninjaLog)!="undefined"){ninjaLog.Update({text:"Pushing Video Ad "+vo.standalone[adCounter].adId+" into #fallbackPlayer"+adCounter});}
                
            fallbackPlayer.push("blox-ad-"+vo.standalone[adCounter].adId+"-player");
            fallbackPlaylist.push([vo.standalone[adCounter].playlistItem]);

            fallbackPlaylist[adCounter][0].autoBuffering=true;
            fallbackPlaylist[adCounter][0].bufferLength=1;

            if(vo.standalone[adCounter].autoplay==1){
                fallbackPlaylist[adCounter][0].autoPlay = true;
            }
    
            if((typeof(vo.standalone[adCounter].width)!="undefined")&&(vo.standalone[adCounter].width!=0)){
                width = vo.standalone[adCounter].width;
            }
            if((typeof(vo.standalone[adCounter].height)!="undefined")&&(vo.standalone[adCounter].height!=0)){
                height = vo.standalone[adCounter].height;
            }

            fallbackPlaylist[adCounter][0].metadata = false;

            linkItem = "<a id=\""+fallbackPlayer[adCounter]+"\" class=\"video-ad\" href=\"javascript:void(0)\" style=\"width:"+width+"px; height:"+height+"px; display:block; position:relative; z-index:1;margin:10px;\"></a>";
            
            // this handles the click link in the video player when clicking on the video
            function addClickURLtoVideo(){}
            
            jQuery("#blox-ad-"+vo.standalone[adCounter].adId).append(linkItem);
            flowplayer(fallbackPlayer[adCounter], "http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_flowplayer/resources/flash/flowplayer-3.2.7.swf?_dc=1393408746",{
                plugins:{controls:null},
                clip:{
                    linkUrl:vo.standalone[adCounter].videoClickUri,
                    linkWindow:'_blank'
                },
                playlist:fallbackPlaylist[adCounter],
                onPause:function(){
                    //alert('click');
                }
            });
            jQuery("#"+fallbackPlayer[adCounter]+"_api").css({"margin":"0px"});
            
            adCounter++;
        });
    } }
});
/* ]]> */
</script>

    
    <script type="text/javascript">
        /* fix for tabs (delayed loading)*/
        $(window).load(function() {
            // waited until all assets loaded;
            $('.tabset').show();
        });
    </script>
    
    <script>
    var _gaq = _gaq || [];
    $(function() {
    
        
    (function() {
        loadAddThis({
            'addthisID': '',
            'gaID': 'UA-6534777-1',
            'twitterID': '@dailyneb'
         });
    })();

        
    
    
        (function() {
            loadFacebook({
                'fbID': '115439931930938'
            });
        })();
    

        
        (function() {
            loadGoogleAnalytics({
                trackerID: 'UA-6534777-1',
                trackerDomain: '',
                trackerUrl: '/news/unl-recruitment-efforts-expand-overseas/article_898169d0-c916-11e3-af18-001a4bcf6878.html'
            });
        })();
    
        
    });
    </script>
    
    <div id="fb-root"></div>
<div id="page-curl">
    
	<div id="tncms-region-ads-page-curl" class="tncms-region-ads"></div>
    
</div>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_flowplayer/resources/scripts/flowplayer-3.2.13.min.js?_dc=1393408746"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_external_jquery_plugins/resources/scripts/external.common.min.js?_dc=1388679245"></script>
<script type="text/javascript"  src="http://bloximages.newyork1.vip.townnews.com/dailynebraskan.com/content/tncms/live/components/core_internal_jquery_plugins/resources/scripts/internal.common.min.js?_dc=1388679241"></script></body>
</html>
