{% extends "base.html" %}
		  
{% block content %}
        <h1>Population Winners and Losers</h1>
        <p>People come and people go, but the fastest growing and fastest shrinking counties tend to cluster. The fastest growing cluster around economic growth. The fastest shrinking tend to be the smallest in already wide open spaces. Explore below.</p>
		<h3>Fastest Growing</h3>
        <div class="table-responsive">
             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>Location</th>
                   <th>2010</th>
                   <th>2011</th>
                   <th>2012</th>
                   <th>2013</th>
				   <th>2010-2013 change</th>
                 </tr>
               </thead>
               <tbody>
			{% for row in growing %}   
                 <tr>
                   <td>{{ row.county_name }}, {{ row.state }}</td>
                   <td>{{ row.pop2010 }}</td>
                   <td>{{ row.pop2011 }}</td>
                   <td>{{ row.pop2012 }}</td>
                   <td>{{ row.pop2013 }}</td>
                   <td>{{ row.change|floatformat }}%</td>
                 </tr>
			{% endfor %}
               </tbody>
             </table>
           </div>
		<h3>Fastest Shrinking</h3>
        <div class="table-responsive">
             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>Location</th>
                   <th>2010</th>
                   <th>2011</th>
                   <th>2012</th>
                   <th>2013</th>
				   <th>2010-2013 change</th>
                 </tr>
               </thead>
               <tbody>
			{% for row in shrinking %}   
                 <tr>
                   <td>{{ row.county_name }}, {{ row.state }}</td>
                   <td>{{ row.pop2010 }}</td>
                   <td>{{ row.pop2011 }}</td>
                   <td>{{ row.pop2012 }}</td>
                   <td>{{ row.pop2013 }}</td>
                   <td>{{ row.change|floatformat }}%</td>
                 </tr>
			{% endfor %}
               </tbody>
             </table>
           </div>

<h3>Explore your state</h3>
          <ul class="list-group">{% for state in states %}
            <li class="list-group-item"><a href="{{ state.get_absolute_url }}">{{ state.state_name }}</a></li>
            {% endfor %}
          </ul>
{% endblock %}